<div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
  <h1 class="h2 mb-0">Hola {{nomPerfil}}!</h1>
  <a (click)="eliminarOdeshabilitar()" class="btn text-danger btn-link fs-base text-decoration-none pe-0" data-tw-toggle="modal" data-tw-target="#eliminar">
    <i class="ci-delete fs-lg mt-n1 me-2"></i>
    Eliminar Cuenta
  </a>
</div>
<form [formGroup]="formPerfil">
  <div class="row pb-3">
    <div class="col-sm-6 mb-4">
      <label for="ac-fn" class="form-label-lg">Nombre</label>
      <input type="text" id="ac-fn" class="form-control form-control-lg" formControlName="u_nombre" readonly>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-email" class="form-label-lg">Correo Electronico</label>
      <input type="email" id="ac-ln" class="form-control form-control-lg" formControlName="u_correoElectronico">
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-email" class="form-label-lg">Tipo de Documento de Identidad</label>
      <input type="text" id="ac-email" class="form-control form-control-lg" formControlName="tD_TipoDocumento" readonly>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-phone" class="form-label-lg">Documento de Identidad</label>
      <input type="text" id="ac-phone" class="form-control form-control-lg" formControlName="u_documentoIdentidad" readonly>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-password" class="form-label-lg">Estado del Perfil</label>
      <input class="form-control form-control-lg" type="text" id="ac-password" formControlName="eU_nombreEstadoUsuario" readonly>
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-zip" class="form-label-lg">Telefono</label>
      <input class="form-control form-control-lg" type="text" id="ac-zip" formControlName="u_telefono">
    </div>
    <div class="col-sm-6 mb-4">
      <label for="ac-address" class="form-label-lg">Dirección</label>
      <input class="form-control form-control-lg" type="text" id="ac-address" formControlName="u_direccion">
    </div>
  </div>
  <button (click)="putPerfil()" class="btn btn-primary btn-lg">&nbsp;Actualizar Perfil&nbsp;</button>
</form>



<!--------------------------------------------->
<!--
<div id="actualizar" class="modal" tabindex="-1" aria-hidden="true">

  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body p-0">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div
              class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
              <h2 class="font-medium text-base mr-auto">
                  Hola {{nomPerfil}}, completa los datos!
              </h2>
          </div>
          <form [formGroup]="formActualizar">
            <div class="row pb-3">
              <div class="col-sm-6 mb-4">
                <label for="ac-fn" class="form-label-lg">Correo Electronico</label>
                <input type="text" id="ac-fn" class="form-control form-control-lg" formControlName="u_correoElectronico">
              </div>
              <div class="col-sm-6 mb-4">
                <label for="ac-email" class="form-label-lg">Telefono</label>
                <input type="email" id="ac-ln" class="form-control form-control-lg" formControlName="u_telefono">
              </div>
              <div class="col-sm-6 mb-4">
                <label for="ac-email" class="form-label-lg">Dirección</label>
                <input type="text" id="ac-email" class="form-control form-control-lg" formControlName="u_direccion">
              </div>
            </div>
            <button (click)="putPerfil()" data-tw-toggle="modal"  data-tw-target="#actualizar" class="btn btn-primary btn-lg">&nbsp;Actualizar&nbsp;</button>
          </form>
          </div>
      </div>
  </div>
</div>

<div id="eliminar" class="modal" tabindex="-1" aria-hidden="true">

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body p-0">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
        <div
            class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="font-medium text-base mr-auto">
                Hola {{nomPerfil}}, ingrese su contraseña!
            </h2>
        </div>
        <form [formGroup]="formEliminar">
          <div class="row pb-3">
            <div class="col-sm-6 mb-4">
              <label for="ac-fn" class="form-label-lg">Contraseña</label>
              <input type="text" id="ac-fn" class="form-control form-control-lg" formControlName="u_contraseña">
            </div>
          </div>
          <button (click)="eliminarOdeshabilitar()" data-tw-toggle="modal"  data-tw-target="#actualizar" class="btn btn-primary btn-lg">&nbsp;Eliminar&nbsp;</button>
        </form>
        </div>
    </div>
</div>
</div>-->
