<section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
  <div class="row">
    <div class="col-lg-4 col-md-5 pb-3 pb-md-0 mb-4">
      <h1>Rastrea tu Orden de Compra</h1>
      <p class="fs-lg text-muted pb-md-3">Este formulario le permite buscar detalles desde cualquier lugar dentro del Servicio Disponible.</p>
      <form class="mb-4 pb-lg-2 needs-validation" novalidate="">
        <label for="track-order" class="form-label-lg">N° OC</label>
        <div class="input-group input-group-lg">
          <input #oc type="text" id="idOC" class="form-control" name="oc" placeholder="Ingrese Orden de Compra" required="">
          <button type="submit" (click)="ordenID() && ordenDetalleID()" class="btn btn-primary px-4">&nbsp;Buscar&nbsp;</button>
        </div>
      </form>
      <div class="card card-body py-3 shadow mb-4">
        <table class="table mb-0">
          <tbody *ngFor="let oc of lOC">
            <tr>
              <th class="border-0 py-2 ps-0">N° Orden:</th>
              <td class="border-0 py-2 px-0 text-muted">{{oc.oC_idOC}}</td>
            </tr>
            <tr>
              <th class="border-0 py-2 ps-0">Proveedor:</th>
              <td class="border-0 py-2 px-0 text-muted">{{oc.pV_razonSocial}}</td>
            </tr>
            <tr>
              <th class="border-0 py-2 ps-0">Nombre:</th>
              <td class="border-0 py-2 px-0 text-muted">{{oc.pV_nombre}}</td>
            </tr>
            <tr>
              <th class="border-0 py-2 ps-0">Fecha de Creación:</th>
              <td class="border-0 py-2 px-0 text-muted">{{oc.oC_fechaCreacion}}</td>
            </tr>
            <tr>
              <th class="border-0 py-2 ps-0">Total:</th>
              <td class="border-0 py-2 px-0 text-muted">{{oc.oC_total}}</td>
            </tr>
            <tr >
              <th class="border-0 py-2 ps-0">Estado:</th>
              <td class="border-0 py-2 px-0 text-muted" *ngIf="oc.eoC_idEstadoOC == '6266322f9231c646f0834446'"><i class="bi bi-send-plus">Creado</i>
              </td>
              <td class="border-0 py-2 px-0 text-muted" *ngIf="oc.eoC_idEstadoOC == '6266326c9231c646f0834447'"><i class="bi bi-send">Enviado</i>
              </td>
              <td class="border-0 py-2 px-0 text-muted" *ngIf="oc.eoC_idEstadoOC == '6266327f9231c646f0834448'"><i class="bi bi-send-check">Confirmado</i>
              </td>
              <td class="border-0 py-2 px-0 text-muted" *ngIf="oc.eoC_idEstadoOC == '626632869231c646f0834449'"><i class="bi bi-send-x">Anulado</i>
              </td>
              <td class="border-0 py-2 px-0 text-muted" *ngIf="oc.eoC_idEstadoOC == '6281fcc8f155b216a141e370'"><i class="bi bi-send-check-fill">Recibido</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-7 ms-auto mb-4">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="fs-lg">
            <tr>
              <th class="border-0"></th>
              <th class="border-0">Producto</th>
              <th class="border-0">Cantidad</th>
              <th class="border-0">Precio</th>
              <th class="border-0">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="step-vertical active" *ngFor="let doc of lDOC">
              <th class="pe-3 position-relative border-0" scope="row">
                <div class="step-line"></div>
              </th>
              <td class="py-3">{{doc.p_nombreproducto}}</td>
              <td class="py-3">{{doc.doC_cantidad}}</td>
              <td class="py-3">{{doc.doC_precio}}</td>
              <td class="py-3">{{doc.doC_subTotal}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>