<section class="container px-5">
  <div class="row mx-n2" style="text-align: center;">
    <div class="py-4">
      <h1 class="m-0">Seguimiento de compra</h1>
    </div>      
  </div>
  <div class="row mx-n2">
    <div class="col-md-4 col-sm-6 px-2 mb-2 py-4"></div>
    <div class="col-md-4 col-sm-6 px-2 mb-2 py-4">
      
      <p class="fs-lg text-muted">Ingresa tu numero de pedido</p>
      <form class="mb-4 pb-lg-2 needs-validation" novalidate="" [formGroup]="formPedido">
        <div class="input-group input-group-lg">
          <input #oc type="text" id="idPedido" class="form-control" name="idPedido" placeholder="# seguimiento de compra" formControlName="idPedido">
          <button type="submit" (click)="pedidoById() && detallePedidoById()" class="btn btn-primary px-4">Buscar</button>
        </div>
      </form>
      
    </div>
    <div class="col-md-4 col-sm-6 px-2 mb-2 py-4"></div>
 
  </div>
  <div class="row pb-2 pb-lg-0" *ngIf="lP.length >0">
    <div class="col-md-4 col-sm-6 px-2 mb-2 py-4">
      <div class="card card-body py-3 shadow mb-4" >
        <table class="table mb-0">
          <tbody *ngFor="let p of lP">
            <tr>
              <th class="border-0 py-2 ps-0">Método de Pago:</th>
              <td class="border-0 py-2 px-0 text-muted">{{p.pE_metodoPago}}</td>
            </tr>
            <tr>
              <th class="border-0 py-2 ps-0">Fecha de Emisión:</th>
              <td class="border-0 py-2 px-0 text-muted">{{p.pE_fechaEmision}}</td>
            </tr>
            <tr *ngIf="p.epE_nombreEstado=='Entregado'">
              <th class="border-0 py-2 ps-0">Fecha de Entrega:</th>
              <td class="border-0 py-2 px-0 text-muted">{{p.pE_fechaEntrega}}</td>
            </tr>
            <tr >
              <th class="border-0 py-2 ps-0">Dirección de Envio:</th>
              <td class="border-0 py-2 px-0 text-muted">{{p.pE_direccionEnvio}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-lg-8 ms-auto">
      <div class="accordion accordion-alt " id="orders">

        <div class="accordion-item">
          <h6 class="accordion-header" id="order-heading-1">
            <button class="accordion-button accordion-button-indicator-0 flex-wrap justify-content-between fw-normal py-3 fw-normal border-bottom-0" type="button" data-bs-toggle="collapse" data-bs-target="#order-collapse-1" aria-expanded="true" aria-controls="order-collapse-1">
              <span class="pe-2"># {{id}}</span>
              <span class="fs-sm text-muted text-nowrap px-2">
                <i class="ci-clock fs-base align-middle mt-n1 me-1"></i>
                {{fechaEmision}}
              </span>
              <span class="badge bg-info">{{estado}}</span>
              <span class="text-dark ps-1">s/. {{total}}</span>
            </button>
          </h6>
          <div class="accordion-collapse collapse show" id="order-collapse-1" aria-labelledby="order-heading-1" data-bs-parent="#orders">
            <div class="accordion-body py-0">
              <div class="bg-secondary rounded mb-4">
                <div class="table-responsive">
                  <table class="table mb-0">

                    <tbody>
                      <tr  *ngFor="let dp of lDP">
                        <td class="border-top-0">
                          <div class="d-flex align-items-start ps-2 py-2">
                            <a style="min-width: 80px;">
                              <img src="{{dp.p_imagen}}" width="80" alt="Product thumb">
                            </a>
                            <div class="ps-3">
                              <h3 class="fs-sm mb-3">
                                <a class="nav-link fw-bold">{{dp.p_nombreProducto}}</a>
                              </h3>
                              <ul class="list-unstyled fs-xs mt-n2 mb-2">
                                <li class="mb-0"><span class="text-muted">Marca:</span>{{dp.mP_marca}}</li>
                              </ul>
                            </div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2">
                            <div class="fs-xs text-muted mb-1">Precio:</div>
                            <div class="fs-sm text-dark">s/. {{dp.dP_precioUnitario}}</div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2">
                            <div class="fs-xs text-muted mb-1">Cantidad:</div>
                            <div class="fs-sm text-dark">{{dp.dP_cantidad}}</div>
                          </div>
                        </td>
                        <td class="border-top-0">
                          <div class="py-2 pe-3 text-end">
                            <div class="fs-xs text-muted mb-1">Subtotal:</div>
                            <div class="fs-sm fw-bold text-dark">s/. {{dp.dP_precioUnitario * dp.dP_cantidad}}</div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>