<!-- Page title -->
<section class="container d-md-flex align-items-center justify-content-between py-3 py-md-4 mb-3">
    <h1 class="mb-2 mb-md-0">{{producto.p_nombre}}</h1>
    <span class="text-muted"><strong>Art. No.</strong> {{producto.cA_idItem}}</span>
</section>

<!-- Single product -->
<section class="container mb-lg-3">
    <div class="tab-content border-top pt-4">

        <!-- Product details -->
        <div class="tab-pane fade show active pt-3 pb-6" id="details" role="tabpanel">
            <div class="row">

                <div class="col-md-4 offset-lg-1">

                    <!-- Product card carousel -->
                    <div class="card card-product">

                        <!-- Imagen Producto -->
                        <div class="card-product-img">
                            <div class="tns-carousel-wrapper tns-controls-onhover">
                                <a class="tns-carousel-inner-two" href="#" data-carousel-options=''>
                                    <div class="text-center">
                                        <img class="card-img-top w-50" [src]="producto.p_imagen" alt="Product image">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a class="nav-link">{{producto.p_nombre}}</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block text-danger mb-0">
                                    S/.{{producto.cA_precioVenta | number : '1.2-2'}}
                                </span>
                                <del class="d-inline-block ms-2 ps-1 text-muted">
                                    S/.{{(producto.p_precio) | number : '1.2-2'}}
                                </del>
                                <span class="ms-4 badge bg-danger fw-bold">
                                    -{{(100-(producto.p_precio*100)/(producto.cA_descuento+producto.p_precio)).toFixed(2)}}%
                                </span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary d-block w-100" (click)="agregarCarrito(producto)">
                                <i class="ci-cart align-middle mt-n1 me-2"></i>
                                Añadir al carrito
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 col-md-8 mb-md-0 mb-4">
                    <h3 class="h5 mb-3">Detalles</h3>
                    <p>{{producto.p_Descripcion}}</p>
                    <ul class="ps-3">
                        <li>Marca : {{producto.p_marca}}</li>
                        <li>Categoria : {{producto.cP_categoria}}</li>
                        <li>Stock disponible : {{producto.p_stock}}</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section>