<!-- Page title -->
<!-- <section class="container d-md-flex align-items-center justify-content-between py-3 py-md-4 mb-3">
    <h1 class="mb-2 mb-md-0">{{producto.p_nombre}}</h1>
    <span class="text-muted"><strong>Art. No.</strong> {{producto.cA_idItem}}</span>
</section> -->

<!-- Single product -->
<!-- <section class="container mb-lg-3">
    <div class="tab-content border-top pt-4">


        <div class="tab-pane fade show active pt-3 pb-6" id="details" role="tabpanel">
            <div class="row">

                <div class="col-md-4 offset-lg-1">


                    <div class="card card-product">


                        <div class="card-product-img">
                            <div class="tns-carousel-wrapper tns-controls-onhover">
                                <a class="tns-carousel-inner-two" href="#" data-carousel-options=''>
                                    <div class="text-center">
                                        <img class="card-img-top w-50" [src]="producto.p_imagen" alt="Product image">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-body pb-2">
                            <h3 class="card-product-title text-truncate mb-2">
                                <a class="nav-link">{{producto.p_nombre}}</a>
                            </h3>
                            <div class="d-flex align-items-center">
                                <span class="h5 d-inline-block text-danger mb-0">
                                    S/.{{producto.cA_precioVenta | number : '1.2-2'}}
                                </span>
                                <del class="d-inline-block ms-2 ps-1 text-muted">
                                    S/.{{(producto.p_precio) | number : '1.2-2'}}
                                </del>
                                <span class="ms-4 badge bg-danger fw-bold">
                                    -{{(100-(producto.p_precio*100)/(producto.cA_descuento+producto.p_precio)).toFixed(2)}}%
                                </span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary d-block w-100" (click)="agregarCarrito(producto)">
                                <i class="ci-cart align-middle mt-n1 me-2"></i>
                                Añadir al carrito
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 col-md-8 mb-md-0 mb-4">
                    <h3 class="h5 mb-3">Detalles</h3>
                    <p>{{producto.p_Descripcion}}</p>
                    <ul class="ps-3">
                        <li>Marca : {{producto.p_marca}}</li>
                        <li>Categoria : {{producto.cP_categoria}}</li>
                        <li>Stock disponible : {{producto.p_stock}}</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section> -->

<!--
<div class="modal fade" id="modal-sizing" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
      <div class="modal-content border-0">
        <div class="modal-header border-0 pb-0 px-md-5 px-4 d-block position-relative">
          <h3 class="modal-title mt-4 mb-0 text-center">Size chart</h3>
          <button type="button" class="btn-close position-absolute" style="top: 1.5rem; right: 1.5rem;"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-md-5 px-4">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a href="#" class="nav-link active">Women</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Men</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Kids</a>
            </li>
          </ul>
          <div class="table-responsive border rounded">
            <h4 class="mb-0 py-3 fs-lg text-center">Footwear</h4>
            <table class="table table-striped mb-0">
              <tbody>
                <tr>
                  <th scope="row" class="fw-normal">Europe</th>
                  <td>35</td>
                  <td>36</td>
                  <td>37</td>
                  <td>38</td>
                  <td>39</td>
                  <td>40</td>
                  <td>41</td>
                  <td>42</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">USA</th>
                  <td>5</td>
                  <td>6</td>
                  <td>6.5</td>
                  <td>7.5</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">United Kingdom</th>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">China</th>
                  <td>230/83</td>
                  <td>235/84</td>
                  <td>240/85</td>
                  <td>245/86</td>
                  <td>255/87</td>
                  <td>260/88</td>
                  <td>265/89</td>
                  <td>275/90</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">Russia</th>
                  <td>35</td>
                  <td>36</td>
                  <td>37</td>
                  <td>38</td>
                  <td>39</td>
                  <td>40</td>
                  <td>41</td>
                  <td>42</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">Italy</th>
                  <td>35</td>
                  <td>36</td>
                  <td>37</td>
                  <td>38</td>
                  <td>39</td>
                  <td>40</td>
                  <td>41</td>
                  <td>42</td>
                </tr>
                <tr>
                  <th scope="row" class="fw-normal">Italy</th>
                  <td>230</td>
                  <td>235</td>
                  <td>240</td>
                  <td>245</td>
                  <td>255</td>
                  <td>260</td>
                  <td>265</td>
                  <td>275</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr class="my-4 mx-md-n5 mx-n4">
          <div class="d-flex flex-lg-row flex-column align-items-center justify-content-center mb-4">
            <h6 class="mb-lg-0">I want to see size equivalence in: </h6>
            <ul class="nav nav-tabs mb-0 ms-lg-4">
              <li class="nav-item">
                <a href="#" class="nav-link active">cm</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Inches</a>
              </li>
            </ul>
          </div>
          <div class="table-responsive border rounded mb-4">
            <h4 class="mb-0 py-3 fs-lg text-center">Equivalence in centimeters</h4>
            <table class="table table-striped mb-0">
              <tbody>
                <tr>
                  <th scope="row" class="fw-normal">Foot length</th>
                  <td>22.4 cm</td>
                  <td>23 cm</td>
                  <td>23.6 cm</td>
                  <td>24.3 cm</td>
                  <td>24.9 cm</td>
                  <td>25.5 cm</td>
                  <td>26.2 cm</td>
                  <td>26.8 cm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<div *ngIf="lentgh > 0">


  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="ci-home"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="shop-catalog.html">{{producto.cP_categoria}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{producto.p_nombre}}</li>
      </ol>
    </div>
  </nav>

  <!-- Page title -->
  <section class="container d-md-flex align-items-center justify-content-between py-3 py-md-4 mb-3">
    <h1 class="mb-2 mb-md-0">{{producto.p_nombre}}</h1>
    <span class="text-muted"><strong>Art. No.</strong> {{producto.cA_idItem}}</span>
  </section>

  <!-- Single product -->
  <section class="container mb-lg-3">


    <div class="tab-content border-top pt-4">

      <!-- General info -->
      <div class="tab-pane fade show active pt-3" id="info" role="tabpanel">
        <div class="row">

          <div class="col-md-6 mb-md-0 mb-4">

            <!-- Product gallery -->
            <div class="tns-carousel-wrapper gallery product-gallery mx-auto" style="max-width: 570px;">

              <div class="tns-carousel-inner" data-carousel-options=''>

                <!-- Product gallery item -->
                <a class="gallery-item" href={{producto.p_imagen}}>
                  <img class="rounded" src={{producto.p_imagen}} alt="Carousel image">
                  <span class="gallery-caption">Gallery image caption #1</span>
                </a>
                <!-- Product gallery item -->
                <a class="gallery-item" href={{producto.p_imagen}}>
                  <img class="rounded" src={{producto.p_imagen}} alt="Carousel image">
                  <span class="gallery-caption">Gallery image caption #1</span>
                </a>
              </div>
              <!-- Product gallery thumbnails -->
              <div class="tns-thumbnails" id="tns-thumbnails">
                <button type="button" data-nav="0">
                  <img src={{producto.p_imagen}} alt="Thumbnail">
                </button>
                <button type="button" data-nav="0">
                  <img src={{producto.p_imagen}} alt="Thumbnail">
                </button>
              </div>
            </div>

          </div>

          <div class="col-md-6 ps-xl-5">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">

              <!-- Price -->
              <div class="d-flex align-items-center mb-sm-0 mb-4">
                <span class="h3 d-inline-block mb-0 text-danger">S/.{{producto.p_precio}}</span>
                <del class="d-inline-block ms-2 ps-1 fs-lg text-muted">S/.{{
                  producto.p_precio+producto.cA_descuento}}</del>
                <span class="ms-4 p-2 badge bg-danger fs-base fw-bold">-
                  {{(100-(producto.p_precio*100)/(producto.cA_descuento+producto.p_precio)).toFixed(2)}}%</span>
              </div>


            </div>

            <!-- Ordering form -->
            <form class="row">
              <div class="col-sm-8 order-sm-1 order-2">
                <div class="mb-4">
                  <label for="size" class="form-label-lg">Size</label>
                  <select class="form-control form-select" id="size">
                    <option>Please select</option>
                    <option>Option item 1</option>
                    <option>Option item 2</option>
                    <option>Option item 3</option>
                  </select>
                </div>
              </div>

              <div
                class="col-lg-2 col-4 order-lg-3 order-3 d-flex align-content-center justify-content-center align-items-center">
                <div class="">
                  <select class="form-control form-select pe-3" id="select-input">
                    <option>1</option>
                    <option>2</option>
                    <option>5</option>
                    <option>10</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 order-lg-4 order-4">
                <button class="btn d-block w-100 btn-primary" (click)="agregarCarrito(producto)">
                  <i class="ci-cart align-middle mt-n1 me-2"></i>
                  Añadir al carrito
                </button>

              </div>
            </form>


            <div class="text-danger">
              Stock Disponible {{producto.p_stock}}
            </div>

            <!-- Terms -->

            <!-- Accordion -->
            <div class="accordion accordion-alt mb-4" id="accordion">

              <!-- Item -->
              <div class="accordion-item">
                <h6 class="accordion-header" id="accordionHeading-1">
                  <button class="accordion-button border-bottom-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionCollapse-1" aria-expanded="true"
                    aria-controls="accordionCollapse-1">Delivery</button>
                </h6>
                <div class="accordion-collapse collapse show" id="accordionCollapse-1"
                  aria-labelledby="accordionHeading-1" data-bs-parent="#accordion">
                  <div class="accordion-body pt-0">
                    <p class="fs-sm">
                      Free standard shipping on orders <strong>over $35</strong> before tax, plus free
                      returns.
                    </p>

                    <!-- Delivery table -->
                    <div class="table-responsive px-md-3">
                      <table class="table mb-0" style="min-width: 450px;">
                        <thead class="fs-xs text-uppercase text-muted">
                          <tr>
                            <th class="border-0 fw-normal">Type</th>
                            <th class="border-0 fw-normal">How long</th>
                            <th class="border-0 fw-normal">How much</th>
                          </tr>
                        </thead>
                        <tbody class="fs-sm">
                          <tr>
                            <th class="fw-normal">Standard delivery</th>
                            <td>1-4 business days</td>
                            <td>$4.50</td>
                          </tr>
                          <tr>
                            <th class="fw-normal">Express delivery</th>
                            <td>1 business day</td>
                            <td>$10.00</td>
                          </tr>
                          <tr>
                            <th class="fw-normal border-bottom-0">Pick up in store</th>
                            <td class="border-bottom-0">1-3 business days</td>
                            <td class="border-bottom-0">Free</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item">
                <h6 class="accordion-header" id="accordionHeading-2">
                  <button class="accordion-button border-bottom-0 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionCollapse-2" aria-expanded="false"
                    aria-controls="accordionCollapse-2">Detalles</button>
                </h6>
                <div class="accordion-collapse border-bottom-0 collapse" id="accordionCollapse-2"
                  aria-labelledby="accordionHeading-2" data-bs-parent="#accordion">
                  <div class="accordion-body pt-0">
                    <p class="fs-sm">
                      {{producto.p_Descripcion}}
                    </p>
                    <ul class="ps-3">
                      <li>Marca : {{producto.p_marca}}</li>
                      <li>Categoria : {{producto.cP_categoria}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Share -->
            <div class="mb-5 text-nowrap">
              <h6 class="d-inline-block align-middle me-2 mb-0">Share:</h6>
              <a href="#" class="btn-social bs-solid align-middle me-2" data-bs-toggle="tooltip" title="Facebook">
                <i class="ci-facebook"></i>
              </a>
              <a href="#" class="btn-social bs-solid align-middle me-2" data-bs-toggle="tooltip" title="Twitter">
                <i class="ci-twitter"></i>
              </a>
              <a href="#" class="btn-social bs-solid align-middle" data-bs-toggle="tooltip" title="Pinterest">
                <i class="ci-pinterest"></i>
              </a>
            </div>

            <!-- Payment -->
            <div class="pb-3 text-nowrap" data-simplebar data-simplebar-auto-hide="false">
              <a class="d-inline-block mb-3 me-xl-4 me-3">
                <img src="../assets/img/ecommerce/shop/single/cards/visa.jpg" alt="Visa" class="border rounded">
              </a>
              <a class="d-inline-block mb-3 me-xl-4 me-3">
                <img src="../assets/img/ecommerce/shop/single/cards/master-card.jpg" alt="Mastercard"
                  class="border rounded">
              </a>
              <a class="d-inline-block mb-3">
                <img src="../assets/img/ecommerce/shop/single/cards/pay-pal.jpg" alt="PayPal" class="border rounded">
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>

  </section>

</div>
