<div *ngIf="lentgh > 0">
  <!-- Breadcrumb -->
  <nav class="bg-secondary mb-3" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb breadcrumb-alt mb-0">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="ci-home"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="shop-catalog.html">{{producto.cP_categoria}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{producto.p_nombre}}</li>
      </ol>
    </div>
  </nav>

  <!-- Page title -->
  <section class="container d-md-flex align-items-center justify-content-between py-3 py-md-4 mb-3">
    <h1 class="mb-2 mb-md-0">{{producto.p_nombre}}</h1>
    <span class="text-muted"><strong>Art. No.</strong> {{producto.cA_idItem}}</span>
  </section>

  <!-- Single product -->
  <section class="container mb-lg-3">


    <div class="tab-content border-top pt-4">

      <!-- General info -->
      <div class="tab-pane fade show active pt-3" id="info" role="tabpanel">
        <div class="row">

          <div class="col-md-6 mb-md-0 mb-4">

            <!-- Product gallery -->
            <div class="tns-carousel-wrapper gallery product-gallery mx-auto" style="max-width: 570px;">

              <div class="tns-carousel-inner" data-carousel-options=''>

                <!-- Product gallery item -->
                <a class="gallery-item" href={{producto.p_imagen}}>
                  <img class="rounded" src={{producto.p_imagen}} alt="Carousel image">
                  <span class="gallery-caption">Gallery image caption #1</span>
                </a>
                <!-- Product gallery item -->
                <a class="gallery-item" href={{producto.p_imagen}}>
                  <img class="rounded" src={{producto.p_imagen}} alt="Carousel image">
                  <span class="gallery-caption">Gallery image caption #1</span>
                </a>
              </div>
              <!-- Product gallery thumbnails -->
              <div class="tns-thumbnails" id="tns-thumbnails">
                <button type="button" data-nav="0">
                  <img src={{producto.p_imagen}} alt="Thumbnail">
                </button>
                <button type="button" data-nav="0">
                  <img src={{producto.p_imagen}} alt="Thumbnail">
                </button>
              </div>
            </div>

          </div>

          <div class="col-md-6 ps-xl-5">

            <div class="d-sm-flex align-items-center justify-content-between mb-4">

              <!-- Price -->
              <div class="d-flex align-items-center mb-sm-0 mb-4">
                <span class="h3 d-inline-block mb-0 text-danger">S/.{{producto.p_precio}}</span>
                <del class="d-inline-block ms-2 ps-1 fs-lg text-muted" *ngIf="producto.cA_precioVenta!=producto.p_precio">S/.{{
                  producto.p_precio+producto.cA_descuento}}</del>
                <span class="ms-4 p-2 badge bg-danger fs-base fw-bold" *ngIf="producto.cA_precioVenta!=producto.p_precio">-
                  {{(100-(producto.p_precio*100)/(producto.cA_descuento+producto.p_precio)).toFixed(2)}}%</span>
              </div>


            </div>

            <!-- Ordering form -->
            <form class="row">


              <div
                class="col-lg-2 col-4 order-lg-3 order-1">
                <div class="">
                  <select class="form-control form-select pe-3" id="select-input">
                    <option>1</option>
                    <option>2</option>
                    <option>5</option>
                    <option>10</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 order-lg-4 order-4">
                <button class="btn d-block w-100 btn-primary" (click)="agregarCarrito(producto)">
                  <i class="ci-cart align-middle mt-n1 me-2"></i>
                  Añadir al carrito
                </button>

              </div>
            </form>


            <div class="text-danger">
              Stock Disponible {{producto.p_stock}}
            </div>

            <!-- Terms -->

            <!-- Accordion -->
            <div class="accordion accordion-alt mb-4" id="accordion">

              <!-- Item -->
              <div class="accordion-item">
                <h6 class="accordion-header" id="accordionHeading-1">
                  <button class="accordion-button border-bottom-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionCollapse-1" aria-expanded="true"
                    aria-controls="accordionCollapse-1">Delivery</button>
                </h6>
                <div class="accordion-collapse collapse show" id="accordionCollapse-1"
                  aria-labelledby="accordionHeading-1" data-bs-parent="#accordion">
                  <div class="accordion-body pt-0">
                    <p class="fs-sm">
                      Free standard shipping on orders <strong>over $35</strong> before tax, plus free
                      returns.
                    </p>

                    <!-- Delivery table -->
                    <div class="table-responsive px-md-3">
                      <table class="table mb-0" style="min-width: 450px;">
                        <thead class="fs-xs text-uppercase text-muted">
                          <tr>
                            <th class="border-0 fw-normal">Type</th>
                            <th class="border-0 fw-normal">How long</th>
                            <th class="border-0 fw-normal">How much</th>
                          </tr>
                        </thead>
                        <tbody class="fs-sm">
                          <tr>
                            <th class="fw-normal">Standard delivery</th>
                            <td>1-4 business days</td>
                            <td>$4.50</td>
                          </tr>
                          <tr>
                            <th class="fw-normal">Express delivery</th>
                            <td>1 business day</td>
                            <td>$10.00</td>
                          </tr>
                          <tr>
                            <th class="fw-normal border-bottom-0">Pick up in store</th>
                            <td class="border-bottom-0">1-3 business days</td>
                            <td class="border-bottom-0">Free</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item">
                <h6 class="accordion-header" id="accordionHeading-2">
                  <button class="accordion-button border-bottom-0 collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#accordionCollapse-2" aria-expanded="false"
                    aria-controls="accordionCollapse-2">Detalles</button>
                </h6>
                <div class="accordion-collapse border-bottom-0 collapse" id="accordionCollapse-2"
                  aria-labelledby="accordionHeading-2" data-bs-parent="#accordion">
                  <div class="accordion-body pt-0">
                    <p class="fs-sm">
                      {{producto.p_Descripcion}}
                    </p>
                    <ul class="ps-3">
                      <li>Marca : {{producto.mP_marca}}</li>
                      <li>Categoria : {{producto.cP_categoria}}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Share -->
            <div class="mb-5 text-nowrap">
              <h6 class="d-inline-block align-middle me-2 mb-0">Share:</h6>
              <a href="#" class="btn-social bs-solid align-middle me-2" data-bs-toggle="tooltip" title="Facebook">
                <i class="ci-facebook"></i>
              </a>
              <a href="#" class="btn-social bs-solid align-middle me-2" data-bs-toggle="tooltip" title="Twitter">
                <i class="ci-twitter"></i>
              </a>
              <a href="#" class="btn-social bs-solid align-middle" data-bs-toggle="tooltip" title="Pinterest">
                <i class="ci-pinterest"></i>
              </a>
            </div>

            <!-- Payment -->
            <div class="pb-3 text-nowrap" data-simplebar data-simplebar-auto-hide="false">
              <a class="d-inline-block mb-3 me-xl-4 me-3">
                <img src="../assets/img/ecommerce/shop/single/cards/visa.jpg" alt="Visa" class="border rounded">
              </a>
              <a class="d-inline-block mb-3 me-xl-4 me-3">
                <img src="../assets/img/ecommerce/shop/single/cards/master-card.jpg" alt="Mastercard"
                  class="border rounded">
              </a>
              <a class="d-inline-block mb-3">
                <img src="../assets/img/ecommerce/shop/single/cards/pay-pal.jpg" alt="PayPal" class="border rounded">
              </a>
            </div>

          </div>

        </div>
      </div>

    </div>

  </section>

</div>
