<!-- Footer -->
<footer class="footer pt-sm-3 pt-3 bg-dark">

    <div class="container pt-3">
        <div class="row pb-sm-2">
            <div class="col col-sm col-lg mb-4">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Te ayudamos</h3>
                <ul class="nav nav-light flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link me-lg-0 me-sm-4 p-0 fw-normal">Libro de reclamaciones</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="order-tracking.html" class="nav-link me-lg-0 me-sm-4 p-0 fw-normal">Seguimiento de mi orden</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="blog.html" class="nav-link me-lg-0 me-sm-4 p-0 fw-normal">Centro de ayuda</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="contacts.html" class="nav-link me-lg-0 me-sm-4 p-0 fw-normal">Privacidad y seguridad</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm col-lg pb-2 pb-lg-0 mb-4">
                <h3 class="h6 mb-2 pb-1 text-uppercase text-light">Atención al cliente</h3>
                <ul class="nav nav-light flex-column pb-3">
                    <li class="nav-item text-nowrap mb-2">
                        <span class="text-light me-1">Llamanós:</span>
                        <a href="tel:4055550128" class="nav-link d-inline-block me-lg-0 me-sm-4 p-0 fw-normal">(+51)
                            965-847-7792</a>
                    </li>
                    <li class="nav-item text-nowrap mb-2">
                        <span class="text-light me-1">Email:</span>
                        <a href="mailto:fisioadvance03@gmail.com"
                            class="nav-link d-inline-block me-lg-0 me-sm-4 p-0 fw-normal">fisioadvance03@gmail.com</a>
                    </li>
                </ul>
                <a href="https://www.facebook.com/FisioAdvancePeru" class="btn-social bs-solid bs-light me-2">
                    <i class="ci-facebook"></i>
                </a>
                <a href="https://www.facebook.com/FisioAdvancePeru" class="btn-social bs-solid bs-light me-2">
                    <i class="ci-instagram"></i>
                </a>
                <a href="#" class="btn-social bs-solid bs-light me-2">
                    <i class="ci-twitter"></i>
                </a>
                <a href="#" class="btn-social bs-solid bs-light me-2">
                    <i class="ci-youtube"></i>
                </a>
                <a href="#" class="btn-social bs-solid bs-light">
                    <i class="ci-pinterest"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="border-top border-light">
        <div class="container py-4">
            <div class="fs-xs text-light">
                <span class="fs-sm">&copy; </span>
                Todos los derechos reservados. Hecho por
                <a class="text-light" target="_blank" rel="noopener noreferrer">
                    FisioAdvance
                </a>
            </div>
        </div>
    </div>

</footer>