<!-- Hero slider -->
<section class="tns-carousel-wrapper tns-controls-onhover">

    <div class="tns-carousel-inner" data-carousel-options=''>

        <!-- Slide 1 -->
        <div class="bg-size-cover py-xl-6"
            style="background-image: url(../../../assets/img/home/fisioterapia10.jpg);">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                        <h3 class="fs-lg text-uppercase from-start delay-1">Lo nuevo en</h3>
                        <h2 class="display-2 mb-lg-5 pb-3 from-start">MASAJEADORES</h2>
                        <div class="mb-4 scale-up delay-2">
                            <a href="/catalogo" class="btn btn-outline-primary btn-lg">Compra aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="bg-size-cover py-xl-6"
            style="background-image: url(../../../assets/img/home/electrodos.jpg);">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                        <h3 class="fs-lg text-uppercase from-top delay-1">Lo nuevo en</h3>
                        <h2 class="display-2 mb-lg-5 pb-3 scale-down">ELECTRODOS</h2>
                        <div class="mb-4 scale-down delay-2">
                            <a href="/catalogo" class="btn btn-outline-primary btn-lg">Compra aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="bg-size-cover py-xl-6"
            style="background-image: url(../../../assets/img/home/ultrasonido-1.jpg);">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                        <h3 class="fs-lg text-uppercase from-start delay-1">Lo último en</h3>
                        <h2 class="display-2 mb-lg-5 pb-3 from-start">EQUIPOS</h2>
                        <div class="mb-4 scale-up delay-2">
                            <a href="/catalogo" class="btn btn-outline-primary btn-lg">Compra aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="bg-size-cover py-xl-6"
            style="background-image: url(../../../assets/img/home/ejercicios-materiales.jpg);">
            <div class="container pt-5 pb-5">
                <div class="row pb-lg-6">
                    <div class="col-lg-6 offset-lg-1 offset-xl-0 pb-4 pb-md-6">
                        <h3 class="fs-lg text-uppercase from-top delay-1">Todo para hacer</h3>
                        <h2 class="display-2 mb-lg-5 pb-3 scale-down">ESTIRAMIENTOS</h2>
                        <div class="mb-4 scale-down delay-2">
                            <a href="/catalogo" class="btn btn-outline-primary btn-lg">Compra aquí</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Pager -->
    <div class="container position-relative">
        <div class="row mt-lg-n5">
            <div class="col-lg-7 col-md-8 col-sm-10 offset-lg-1 offset-xl-0">
                <div class="position-relative">
                    <div id="pager" class="tns-pager tns-pager-inverse mb-xl-5 pb-5 pb-md-6 d-none">
                        <button type="button" data-nav="0">01</button>
                        <button type="button" data-nav="1">02</button>
                        <button type="button" data-nav="2">03</button>
                        <button type="button" data-nav="3">04</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Top categories -->
<section class="container pt-5 pt-lg-0">
    <div class="tns-carousel-wrapper tns-nav-outside">
        <div class="tns-carousel-inner tns-carousel-inner-two" data-carousel-options=''>

            <!-- Category -->
            <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                <div class="image-inner mb-3 rounded">
                    <img src="../../../assets/img/home/cinta fisiologica.jpg" alt="Women’s">
                </div>
                <h3 class="h5 mb-1">Muscular</h3>
            </a>

            <!-- Category -->
            <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                <div class="image-inner mb-3 rounded">
                    <img src="../../../assets/img/home/cEjercicio.jpg" alt="Men’s">
                </div>
                <h3 class="h5 mb-1">Men’s</h3>
            </a>

            <!-- Category -->
            <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                <div class="image-inner mb-3 rounded">
                    <img src="../../../assets/img/home/equipo-c.jpg" alt="Kids'">
                </div>
                <h3 class="h5 mb-1">Kids'</h3>
            </a>
        </div>
    </div>
</section>

<!-- New arrivals -->
<section class="container-fluid px-xl-grid-gutter mt-5 mb-3 mb-sm-4 mt-md-0 mb-lg-5 py-5 py-lg-6">
    <div class="text-center mb-5 pb-2">
        <h2 class="h1">New arrivals</h2>
        <p class="fs-lg text-muted mb-1">Check out our latest arrivals for the upcoming season</p>
        <a href="/catalogo" class="fs-lg">See the collection here</a>
    </div>

    <!-- Product carousel -->
    <div class="tns-carousel-wrapper tns-nav-outside">
        <div class="tns-carousel-inner tns-carousel-inner-three" data-carousel-options=''>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/03.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-top">
                            <div class="star-rating">
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                            </div>
                        </div>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Black and white sport cap</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$18.15</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/13.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Metal bridge sunglasses</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$89.95</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/04.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-top">
                            <div class="star-rating">
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star"></i>
                            </div>
                        </div>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Green baby romper</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$20.40</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/02.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Mid-rise slim cropped fit jeans</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$40.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/06.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-top">
                            <div class="star-rating">
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star-filled active"></i>
                                <i class="sr-star ci-star"></i>
                                <i class="sr-star ci-star"></i>
                            </div>
                        </div>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Red dangle earrings</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$29.95</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/08.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Baby shoes with laces</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$30.75</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div>
                <div class="card card-product">
                    <div class="card-product-img">
                        <a href="shop-single.html" class="card-img-top">
                            <img src="../../../assets/img/ecommerce/shop/12.jpg" alt="Product image">
                        </a>
                        <div class="card-product-widgets-bottom">
                            <a href="#" class="btn-wishlist ms-auto" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Add to wishlist"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-product-title text-truncate mb-2">
                            <a href="shop-single.html" class="nav-link">Men fashion gray shoes</a>
                        </h3>
                        <div class="d-flex align-items-center">
                            <span class="h5 d-inline-block mb-0">$85.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Promo banners -->
<section class="container-fluid px-xl-grid-gutter">
    <div class="row mx-n2">

        <!-- Banner -->
        <div class="col-lg-5 px-2 mb-3">
            <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded py-5 px-md-5 px-4"
                style="background-image: url(../assets/img/ecommerce/home/banners/01.jpg);">
                <div class="mt-md-3 mb-md-6 pb-6 px-md-2">
                    <h3 class="mb-2 pb-1 fs-sm text-uppercase">Summer Collections</h3>
                    <h2 class="pb-3">Sale Up to 70%</h2>
                    <a href="#" class="btn btn-outline-primary">Explore new prices</a>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-7 px-2 mb-3">
            <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded py-5 px-md-5 px-4"
                style="background-image: url(../assets/img/ecommerce/home/banners/02.jpg);">
                <div class="mt-md-3 mb-md-5 pb-5 px-md-2" style="max-width: 22rem;">
                    <h3 class="mb-2 pb-1 fs-sm text-uppercase">Deal of the Week</h3>
                    <h2 class="pb-3">Stay Warm With Our New Sweaters</h2>
                    <a href="#" class="btn btn-outline-primary">Shop now</a>
                </div>
                <div class="mb-md-3 px-md-2">
                    <h3 class="mb-2 pb-1 fs-sm text-uppercase">Limited time offer</h3>
                    <div class="countdown h3 mb-0" data-countdown="10/01/2022 07:00:00 PM">
                        <div class="countdown-days mb-0">
                            <span class="countdown-value">0</span>
                            <span class="countdown-label mt-1 fs-sm text-body">Days</span>
                        </div>
                        <div class="countdown-hours mb-0">
                            <span class="countdown-value">0</span>
                            <span class="countdown-label mt-1 fs-sm text-body">Hours</span>
                        </div>
                        <div class="countdown-minutes mb-0">
                            <span class="countdown-value">0</span>
                            <span class="countdown-label mt-1 fs-sm text-body">Mins</span>
                        </div>
                        <div class="countdown-seconds mb-0">
                            <span class="countdown-value">0</span>
                            <span class="countdown-label mt-1 fs-sm text-body">Secs</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-n2">

        <!-- Banner -->
        <div class="col-lg-7 px-2 mb-3">
            <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded py-5 px-md-5 px-4"
                style="background-image: url(../assets/img/ecommerce/home/banners/03.jpg);">
                <div class="mt-md-3 mb-md-6 pb-6 px-md-2" style="max-width: 22rem;">
                    <h3 class="mb-2 pb-1 fs-sm text-uppercase">New Collection</h3>
                    <h2 class="pb-3">Shoes &amp; Bags<br>Autumn / Winter 2021</h2>
                    <a href="#" class="btn btn-outline-primary">See offers</a>
                </div>
            </div>
        </div>

        <!-- Banner -->
        <div class="col-lg-5 px-2 mb-3">
            <div class="d-flex flex-column h-100 bg-size-cover bg-position-center-y rounded pt-5 pb-md-5 px-md-5 px-4"
                style="background-image: url(../assets/img/ecommerce/home/banners/04.jpg);">
                <div class="mt-md-3 mb-md-5 pb-6 px-md-2" style="max-width: 26rem;">
                    <h3 class="mb-2 pb-1 fs-sm text-uppercase">For All New Email Subscribers</h3>
                    <h2 class="pb-2">Get 5% Off & Free Delivery</h2>
                    <form class="mb-4 needs-validation" novalidate>
                        <label for="sub-email" class="form-label-lg">Email</label>
                        <div class="input-group" style="max-width: 23rem;">
                            <input type="email" id="sub-email" class="form-control" placeholder="Your email address"
                                required>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                    <div class="fs-sm" style="max-width: 23rem;">*Sign up to be the first to hear about exclusive deals,
                        special offers and upcoming collections.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popular categories -->
<section class="container mt-1 mb-3 my-sm-4 py-5 py-lg-6">
    <h2 class="h1 mb-5 pb-3 text-center">Popular categories</h2>
    <div class="tns-carousel-wrapper tns-nav-outside">
        <div class="tns-carousel-inner tns-carousel-inner-four" data-carousel-options=''>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/04.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">Tops</h3>
                </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/05.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">T-shirts</h3>
                </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/06.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">Caps</h3>
                </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/07.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">Sandals</h3>
                </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/08.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">Jackets</h3>
                </a>
            </div>

            <!-- Category -->
            <div class="pb-2">
                <a href="/catalogo" class="d-block image-scale heading-highlight text-center">
                    <div class="image-inner rounded-circle mx-auto mb-4" style="max-width: 180px;">
                        <img src="../../../assets/img/ecommerce/home/categories/09.jpg" alt="Category image">
                    </div>
                    <h3 class="h5 mb-3">Coats</h3>
                </a>
            </div>
        </div>
    </div>
</section>