<section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row">

        <div class="col-lg-7 pe-lg-6">
            <div class="d-flex align-items-center justify-content-between pb-2 mb-4">
                <h1 class="mb-0">Pedido</h1>
            </div>

            <hr class="border-top-0 border-bottom mb-4">

            <form [formGroup]="formPedido">

                <!-- Información del Pedido -->
                <h2 class="h4 mb-4">Detalle de envio</h2>
                <div class="row pb-3">

                    <div class="col-sm-12 mb-4">
                        <label for="ch-fn" class="form-label-lg">Dirección de Envio</label>
                        <input type="text" class="form-control form-control-lg" id="ch-fn"
                            placeholder="Ingresa tu dirección." formControlName="direccionEnvio">
                        <div *ngIf="formPedido.controls['direccionEnvio'].hasError('required')"
                            class="text-danger mt-2">*Campo requerido</div>
                    </div>

                    <div class="col-sm-12 mb-4">
                        <label for="ch-notes" class="form-label-lg">Referencia de envio</label>
                        <textarea id="ch-notes" class="form-control form-control-lg" rows="5"
                            placeholder="Ingresa alguna referencia de tu dirección."
                            formControlName="referenciaEnvio"></textarea>
                        <div *ngIf="formPedido.controls['referenciaEnvio'].hasError('required')"
                            class="text-danger mt-2">*Campo requerido</div>
                    </div>

                    <div class="col-sm-12 mb-4">
                        <label class="form-label-lg">Métodos de Pago</label>
                        <select class="form-select form-select-lg" formControlName="metodoPago">
                            <option *ngFor="let metodoPago of lMetodoPago">
                                {{metodoPago.value}}
                            </option>
                        </select>
                        <div *ngIf="formPedido.controls['metodoPago'].hasError('required')"
                            class="text-danger mt-2">*Campo requerido</div>
                    </div>
                </div>
                <hr class="mb-4">


            </form>
        </div>

        <!-- </form> -->
        <!-- Checkout -->



        <!-- Order totals (sticky sidebar) -->
        <aside class="col-lg-5">
            <div class="position-sticky">
                <div class="bg-secondary rounded mb-4">

                    <div class="border-bottom p-4">
                        <h2 class="h4 mb-0">Resumen de compra</h2>
                    </div>

                    <ul class="list-unstyled  mb-0 p-4">
                        <div *ngFor="let carrito of lCarrito"
                            class="d-flex align-items-start px-2 px-sm-4 py-4 border-bottom">

                            <a style="min-width: 80px;">
                                <img [src]="carrito.p_imagen" width="80" alt="Product thumb">
                            </a>

                            <div class="w-100 ps-3">
                                <div class="d-sm-flex">

                                    <div class="pe-sm-3 w-100" style="max-width: 16rem;">
                                        <h3 class="fs-sm mb-3">
                                            <a class="nav-link fw-bold">{{carrito.p_nombre}}</a>
                                        </h3>

                                        <ul class="list-unstyled fs-xs mt-n2 mb-2">
                                            <li class="mb-0"><span class="text-muted">Categoría:</span> {{carrito.cP_categoria}}
                                            </li>
                                            <li class="mb-0"><span class="text-muted">Cantidad:</span> {{carrito.cantidad}}</li>
                                        </ul>
                                    </div>

                                    <div class="text-end align-items-start w-100">

                                        <div class="text-nowrap pt-2">
                                            <strong class="text-danger">S/.{{carrito.cA_precioVenta | number : '1.2-2'}}
                                            </strong>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </ul>

                    <ul class="list-unstyled border-bottom mb-0 p-4">

                        <li class="d-flex justify-content-between mb-2">
                            <span class="fw-bold">Subtotal:</span>
                            <span class="fw-bold">S/. {{getSubTotal() | number : '1.2-2'}}</span>
                        </li>

                        <li class="d-flex justify-content-between mb-2">
                            <span>Montos agregados:</span>
                            <span>—</span>
                        </li>

                    </ul>

                    <div class="d-flex justify-content-between p-4">
                        <span class="h5 mb-0">Monto total:</span>
                        <span class="h5 mb-0">S/. {{getSubTotal() | number : '1.2-2'}}</span>
                    </div>

                </div>

                <button type="button" class="btn btn-primary btn-lg d-block w-100" (click)="registrarPedido()">Completar
                    Pedido</button>

            </div>
        </aside>
    </div>
</section>